.flows.json.backup
[
    {
        "id": "ba25b863121213b0",
        "type": "tab",
        "label": "Microbit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26e4e309610a0579",
        "type": "tab",
        "label": "Presence Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db2_page_1",
        "type": "ui-page",
        "name": "Micro:bit",
        "ui": "db2_ui_base",
        "path": "/dashboard",
        "icon": "home",
        "layout": "grid",
        "theme": "7d5839f1c1a60810",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "db2_group_1",
        "type": "ui-group",
        "name": "Micro:bit Messaging Control",
        "page": "db2_page_1",
        "width": "6",
        "height": "2",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2632d7878d7f7655",
        "type": "alexa-remote-account",
        "name": "Alexa Profile",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "0",
        "cookieFile": "/home/sunil390/.node-red/alexa-cookie.json",
        "refreshInterval": "7",
        "alexaServiceHost": "pitangui.amazon.com",
        "pushDispatchHost": "",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-IN",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    },
    {
        "id": "331640aedffce7aa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ac811281ef859fc",
        "type": "ui-group",
        "name": "RD-03D Radar",
        "page": "98b112437bd850bc",
        "width": "6",
        "height": "9",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "98b112437bd850bc",
        "type": "ui-page",
        "name": "Radar",
        "ui": "db2_ui_base",
        "path": "/radar",
        "icon": "home",
        "layout": "grid",
        "theme": "7d5839f1c1a60810",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "db2_ui_base",
        "type": "ui-base",
        "name": "zDash",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "7d5839f1c1a60810",
        "type": "ui-theme",
        "name": "znext",
        "colors": {
            "surface": "#d4651c",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "db2_text_input",
        "type": "ui-text-input",
        "z": "ba25b863121213b0",
        "group": "db2_group_1",
        "name": "Message Input",
        "label": "Message to Scroll:",
        "order": 1,
        "width": "",
        "height": "",
        "topic": "",
        "topicType": "str",
        "mode": "text",
        "tooltip": "",
        "delay": "",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "store_variable"
            ]
        ]
    },
    {
        "id": "store_variable",
        "type": "change",
        "z": "ba25b863121213b0",
        "name": "Save Text",
        "rules": [
            {
                "t": "set",
                "p": "saved_message",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "db2_btn_start",
        "type": "ui-button",
        "z": "ba25b863121213b0",
        "group": "db2_group_1",
        "name": "Start Button",
        "label": "Send Message",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "get_variable"
            ]
        ]
    },
    {
        "id": "get_variable",
        "type": "change",
        "z": "ba25b863121213b0",
        "name": "Load Text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "saved_message",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "rate_limit_node"
            ]
        ]
    },
    {
        "id": "db2_btn_stop",
        "type": "ui-button",
        "z": "ba25b863121213b0",
        "group": "db2_group_1",
        "name": "Stop Button",
        "label": "STOP Scrolling",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "set_stop_msg"
            ]
        ]
    },
    {
        "id": "set_stop_msg",
        "type": "change",
        "z": "ba25b863121213b0",
        "name": "Set Stop Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[STOP]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "rate_limit_node"
            ]
        ]
    },
    {
        "id": "rate_limit_node",
        "type": "delay",
        "z": "ba25b863121213b0",
        "name": "Prevent BT Spam",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "send_script_node"
            ]
        ]
    },
    {
        "id": "send_script_node",
        "type": "exec",
        "z": "ba25b863121213b0",
        "command": "python3 /home/zpi/node-scripts/send_text.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Send to Micro:bit",
        "x": 850,
        "y": 240,
        "wires": [
            [
                "debug_node"
            ],
            [
                "debug_node"
            ],
            []
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "ba25b863121213b0",
        "name": "Script Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 240,
        "wires": []
    },
    {
        "id": "http_in_node",
        "type": "http in",
        "z": "ba25b863121213b0",
        "name": "POST /microbit",
        "url": "/microbit",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "http_response_node",
                "prepare_n8n_payload"
            ]
        ]
    },
    {
        "id": "http_response_node",
        "type": "http response",
        "z": "ba25b863121213b0",
        "name": "Reply OK",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "prepare_n8n_payload",
        "type": "change",
        "z": "ba25b863121213b0",
        "name": "Extract Text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "rate_limit_node"
            ]
        ]
    },
    {
        "id": "0a7170b8fa33ca8a",
        "type": "alexa-remote-routine",
        "z": "26e4e309610a0579",
        "name": "Plug On (Arrival)",
        "account": "2632d7878d7f7655",
        "routineNode": {
            "type": "routine",
            "payload": {
                "routine": {
                    "type": "str",
                    "value": "amzn1.alexa.automation.8a9ea390-877c-4758-9410-be13ee26573d"
                },
                "device": {
                    "type": "str",
                    "value": "3493a9c77f9ddd8cd1d6ce019fa2f7d9"
                }
            }
        },
        "x": 720,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1b8af07c0798800c",
        "type": "alexa-remote-routine",
        "z": "26e4e309610a0579",
        "name": "Plug Off (Departure)",
        "account": "2632d7878d7f7655",
        "routineNode": {
            "type": "routine",
            "payload": {
                "routine": {
                    "type": "str",
                    "value": "amzn1.alexa.automation.d75ddab9-9af2-4c4e-8e76-ab3239304c76"
                },
                "device": {
                    "type": "str",
                    "value": "3493a9c77f9ddd8cd1d6ce019fa2f7d9"
                }
            }
        },
        "x": 1020,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "355d91b376838afd",
        "type": "mqtt in",
        "z": "26e4e309610a0579",
        "name": "Radar Ingest",
        "topic": "home/radar/sensor/+/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "331640aedffce7aa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "f6fa7c91edf99328"
            ]
        ]
    },
    {
        "id": "route_alexa_commands",
        "type": "switch",
        "z": "26e4e309610a0579",
        "name": "Route Commands",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "cancel_off_timer",
                "0a7170b8fa33ca8a"
            ],
            [
                "3ff8616701896538"
            ]
        ]
    },
    {
        "id": "cancel_off_timer",
        "type": "change",
        "z": "26e4e309610a0579",
        "name": "Cancel OFF Timer",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "3ff8616701896538"
            ]
        ]
    },
    {
        "id": "3ff8616701896538",
        "type": "trigger",
        "z": "26e4e309610a0579",
        "name": "Wait 10s for Departure",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "1b8af07c0798800c"
            ]
        ]
    },
    {
        "id": "f6fa7c91edf99328",
        "type": "function",
        "z": "26e4e309610a0579",
        "name": "Track Targets (Auto-Recover)",
        "func": "let radarMap = flow.get(\"radarMap\") || {\n    t1: { x: 0, y: 0, active: false, distance: 0, lastUpdate: 0, inZone: false },\n    t2: { x: 0, y: 0, active: false, distance: 0, lastUpdate: 0, inZone: false },\n    t3: { x: 0, y: 0, active: false, distance: 0, lastUpdate: 0, inZone: false },\n    presence: false,\n    anyActive: false\n};\n\nlet topic = msg.topic;\nlet payloadStr = String(msg.payload).toLowerCase().trim();\nconst GEOFENCE_LIMIT = 2000; // 2 meters for Alexa Plug\nconst STICKY_TIMEOUT = 1800000; // 30 min hold\nlet now = Date.now();\nlet updated = false;\nlet isNumeric = (payloadStr !== \"nan\" && payloadStr !== \"unknown\" && payloadStr !== \"\");\n\n// 1. Auto-Recover Presence (If we get coordinates, someone is clearly there)\nif (isNumeric && topic.includes(\"target_\")) {\n    radarMap.presence = true;\n}\n\n// 2. Explicit Presence Handling & Instant Wipe\nif (topic.includes(\"presence\") || topic.includes(\"target_detected\")) {\n    let isPresent = (payloadStr === \"on\" || payloadStr === \"true\");\n    radarMap.presence = isPresent;\n    \n    if (!isPresent) {\n        // Target explicitly left the room: INSTANT WIPE\n        ['t1', 't2', 't3'].forEach(t => {\n            radarMap[t].x = 0; radarMap[t].y = 0; radarMap[t].active = false; \n            radarMap[t].inZone = false; radarMap[t].distance = 0; radarMap[t].lastUpdate = 0;\n        });\n        updated = true;\n    }\n}\n\n// 3. Coordinate Tracking\nif (isNumeric && radarMap.presence) {\n    let val = parseFloat(msg.payload);\n    if (Math.abs(val) > 5) { \n        if (topic.includes(\"target_1\")) {\n            if (topic.endsWith(\"x/state\")) { radarMap.t1.x = val; radarMap.t1.lastUpdate = now; updated = true; }\n            if (topic.endsWith(\"y/state\")) { radarMap.t1.y = val; radarMap.t1.lastUpdate = now; updated = true; }\n        }\n        else if (topic.includes(\"target_2\")) {\n            if (topic.endsWith(\"x/state\")) { radarMap.t2.x = val; radarMap.t2.lastUpdate = now; updated = true; }\n            if (topic.endsWith(\"y/state\")) { radarMap.t2.y = val; radarMap.t2.lastUpdate = now; updated = true; }\n        }\n        else if (topic.includes(\"target_3\")) {\n            if (topic.endsWith(\"x/state\")) { radarMap.t3.x = val; radarMap.t3.lastUpdate = now; updated = true; }\n            if (topic.endsWith(\"y/state\")) { radarMap.t3.y = val; radarMap.t3.lastUpdate = now; updated = true; }\n        }\n    }\n}\n\n// 4. Evaluate Target Timers (Only if someone is in the room)\nif (radarMap.presence) {\n    const evaluateTarget = (t) => {\n        if (t.lastUpdate > 0 && (now - t.lastUpdate > STICKY_TIMEOUT)) {\n            t.x = 0; t.y = 0; t.active = false; t.inZone = false; t.distance = 0; t.lastUpdate = 0; updated = true;\n        } else if (t.lastUpdate > 0) {\n            t.distance = Math.sqrt(Math.pow(t.x, 2) + Math.pow(t.y, 2));\n            t.active = (t.distance > 0);\n            t.inZone = (t.distance > 0 && t.distance <= GEOFENCE_LIMIT);\n        }\n    };\n    evaluateTarget(radarMap.t1);\n    evaluateTarget(radarMap.t2);\n    evaluateTarget(radarMap.t3);\n}\n\n// 5. Check Global Trigger & Route Outputs\nlet lastAnyActive = radarMap.anyActive;\nradarMap.anyActive = (radarMap.t1.inZone || radarMap.t2.inZone || radarMap.t3.inZone);\nflow.set(\"radarMap\", radarMap);\n\nlet msgUI = null;\nlet msgAlexa = null;\n\nif (updated) {\n    msgUI = { payload: radarMap };\n}\n\nif (radarMap.anyActive !== lastAnyActive) {\n    msgAlexa = { payload: radarMap.anyActive ? \"on\" : \"off\" };\n}\n\nreturn [msgUI, msgAlexa];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "4548557c61c0631b"
            ],
            [
                "route_alexa_commands"
            ]
        ]
    },
    {
        "id": "4548557c61c0631b",
        "type": "ui-template",
        "z": "26e4e309610a0579",
        "group": "2ac811281ef859fc",
        "page": "",
        "ui": "",
        "name": "Live Radar Sweep (Legacy Retro)",
        "order": 1,
        "width": "6",
        "height": "9",
        "format": "<template>\n    <div style=\"display: flex; flex-direction: column; align-items: center; background: #000500; padding: 15px; border-radius: 8px; width: 100%; height: 100%; box-sizing: border-box; overflow: hidden; border: 2px solid #003300;\">\n        <h3 style=\"color: #33ff33; font-family: 'Courier New', Courier, monospace; margin-top: 0; margin-bottom: 8px; font-size: 16px; font-weight: bold; letter-spacing: 2px; text-shadow: 0 0 8px #00ff00;\">TACTICAL RADAR LINK</h3>\n        <div style=\"flex: 1; display: flex; align-items: flex-end; justify-content: center; width: 100%; height: 100%; overflow: hidden;\">\n            <canvas ref=\"radarCanvas\" width=\"800\" height=\"400\" style=\"background: #000a00; border-radius: 4px; width: 100%; max-height: 100%; object-fit: contain; aspect-ratio: 2/1; box-shadow: inset 0 0 60px rgba(0, 50, 0, 0.8);\"></canvas>\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    name: 'RadarSweepCanvas',\n    props: ['id', 'props', 'state'],\n    data() {\n        return {\n            sweepAngle: -Math.PI,\n            targetDest: {\n                t1: {x:0, y:0, active: false},\n                t2: {x:0, y:0, active: false},\n                t3: {x:0, y:0, active: false}\n            },\n            targetDisplay: {\n                t1: {x:0, y:0, active: false, initialized: false},\n                t2: {x:0, y:0, active: false, initialized: false},\n                t3: {x:0, y:0, active: false, initialized: false}\n            },\n            maxRange: 6.0, \n            animationFrameId: null,\n            lastTime: 0\n        }\n    },\n    mounted() {\n        const canvas = this.$refs.radarCanvas;\n        if (!canvas) return;\n        \n        const ctx = canvas.getContext('2d');\n        const padding = 20; \n        const cx = canvas.width / 2;\n        const cy = canvas.height - 10; \n        \n        // Dynamic scale ensures the radius fits perfectly within canvas bounds\n        const maxRadius = Math.min(canvas.width / 2 - padding, canvas.height - padding);\n        const scale = maxRadius / this.maxRange;\n\n        // Ensure socket listener exists before binding (mocked/safeguarded for portability)\n        if (this.$socket) {\n            this.$socket.on('msg-input:' + this.id, (msg) => {\n                if (msg && msg.payload && typeof msg.payload === 'object') {\n                    ['t1', 't2', 't3'].forEach(t => {\n                        if (msg.payload[t]) {\n                            this.targetDest[t].x = (msg.payload[t].x || 0) / 1000;\n                            this.targetDest[t].y = (msg.payload[t].y || 0) / 1000;\n                            this.targetDest[t].active = msg.payload[t].active || false;\n                            \n                            if (!this.targetDisplay[t].initialized && this.targetDest[t].active) {\n                                this.targetDisplay[t].x = this.targetDest[t].x;\n                                this.targetDisplay[t].y = this.targetDest[t].y;\n                                this.targetDisplay[t].initialized = true;\n                            }\n                            this.targetDisplay[t].active = this.targetDest[t].active;\n                        }\n                    });\n                }\n            });\n        }\n\n        const lerp = (start, end, amt) => (1 - amt) * start + amt * end;\n        this.lastTime = performance.now();\n\n        const drawRadar = (timestamp) => {\n            let dt = (timestamp - this.lastTime) / 16.666; \n            if (isNaN(dt) || dt > 10) dt = 1;\n            this.lastTime = timestamp;\n\n            // 1. The Phosphor Fade Effect\n            ctx.globalCompositeOperation = 'source-over';\n            ctx.fillStyle = 'rgba(0, 10, 0, 0.08)'; \n            ctx.fillRect(0, 0, canvas.width, canvas.height);\n\n            // Reset Shadows for grid\n            ctx.shadowBlur = 0;\n\n            // 2. Grid Rings (Every 1m)\n            ctx.strokeStyle = 'rgba(0, 255, 0, 0.15)';\n            ctx.lineWidth = 1;\n            ctx.font = '10px Courier New';\n            ctx.textBaseline = 'bottom';\n            ctx.textAlign = 'center';\n\n            for (let r = 1; r <= this.maxRange; r += 1) {\n                ctx.beginPath();\n                ctx.arc(cx, cy, r * scale, Math.PI, 2 * Math.PI);\n                ctx.stroke();\n                \n                ctx.fillStyle = 'rgba(0, 255, 0, 0.5)';\n                ctx.fillText(r + 'm', cx + 2, cy - (r * scale) + 12);\n            }\n\n            // 3. Cross Rays (30 degree increments)\n            const angles = [Math.PI * 7/6, Math.PI * 4/3, Math.PI * 3/2, Math.PI * 5/3, Math.PI * 11/6];\n            angles.forEach(a => {\n                ctx.beginPath();\n                ctx.moveTo(cx, cy);\n                ctx.lineTo(cx + Math.cos(a) * (this.maxRange * scale), cy + Math.sin(a) * (this.maxRange * scale));\n                ctx.stroke();\n            });\n\n            // 4. The Sweeper Arm\n            this.sweepAngle += 0.015 * dt;\n            if (this.sweepAngle > 0) this.sweepAngle = -Math.PI;\n            \n            ctx.shadowBlur = 15;\n            ctx.shadowColor = '#00ff00';\n            ctx.strokeStyle = '#33ff33';\n            ctx.lineWidth = 3;\n            ctx.beginPath();\n            ctx.moveTo(cx, cy);\n            ctx.lineTo(cx + Math.cos(this.sweepAngle) * (this.maxRange * scale), cy + Math.sin(this.sweepAngle) * (this.maxRange * scale));\n            ctx.stroke();\n\n            // Smooth Target Movement\n            const baseEase = 0.05;\n            const currentEase = Math.min(1, baseEase * dt);\n\n            ['t1', 't2', 't3'].forEach(t => {\n                if (this.targetDisplay[t].active) {\n                    this.targetDisplay[t].x = lerp(this.targetDisplay[t].x, this.targetDest[t].x, currentEase);\n                    this.targetDisplay[t].y = lerp(this.targetDisplay[t].y, this.targetDest[t].y, currentEase);\n                } else {\n                    this.targetDisplay[t].initialized = false;\n                }\n            });\n\n            // Draw Targets\n            this.drawBlip(ctx, cx, cy, scale, this.targetDisplay.t1, 'T1');\n            this.drawBlip(ctx, cx, cy, scale, this.targetDisplay.t2, 'T2');\n            this.drawBlip(ctx, cx, cy, scale, this.targetDisplay.t3, 'T3');\n\n            this.animationFrameId = requestAnimationFrame(drawRadar);\n        };\n\n        this.animationFrameId = requestAnimationFrame(drawRadar);\n    },\n    beforeUnmount() {\n        if (this.animationFrameId) cancelAnimationFrame(this.animationFrameId);\n    },\n    methods: {\n        drawBlip(ctx, cx, cy, scale, target, label) {\n            if (target && target.active && (target.x !== 0 || target.y !== 0)) {\n                let pixelX = Math.round(cx + (target.x * scale));\n                let pixelY = Math.round(cy - (target.y * scale));\n\n                // Dynamically check against canvas dimensions rather than hardcoded 600/450\n                if (pixelX >= 0 && pixelX <= ctx.canvas.width && pixelY >= 0 && pixelY <= ctx.canvas.height) {\n                    // Glowing core\n                    ctx.shadowBlur = 10;\n                    ctx.shadowColor = '#33ff33';\n                    ctx.fillStyle = '#ccffcc';\n                    ctx.beginPath();\n                    ctx.arc(pixelX, pixelY, 4, 0, 2 * Math.PI);\n                    ctx.fill();\n\n                    // Outer Ping Ring\n                    ctx.shadowBlur = 0;\n                    ctx.strokeStyle = '#00ff00';\n                    ctx.lineWidth = 1.5;\n                    ctx.beginPath();\n                    ctx.arc(pixelX, pixelY, 12, 0, 2 * Math.PI);\n                    ctx.stroke();\n\n                    // Target Label\n                    ctx.fillStyle = '#00ff00';\n                    ctx.font = 'bold 12px Courier New';\n                    ctx.fillText(label, pixelX + 16, pixelY - 2);\n                }\n            }\n        }\n    }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    }
]